body {
    background-color: rgb(57, 121, 185);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    align-content: center;
}
body header img {
    display: block;
    margin: auto;
}
body header h1 {
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.p1{
  text-align: center;
  background-color: aqua;
  color: brown;
}
ul li:nth-child(odd) {
background-color: rgb(30, 210, 195);
border-style: dotted;
height: 30px;
font-family: Arial, Helvetica, sans-serif;
}
ul li:nth-child(even) {
    background-color: rgb(221, 47, 47);
    border-style: double;
    height: 30px;
    font-family: helvetica;
    color: rgb(30, 210, 195);
    text-align: center;
    }
main ul li {
    
    text-align: center;
    list-style: none;
}

main ol li {
    list-style: none;
    background: #cce5ff;
    margin: 5px;
    text-align: center;
}
